body {
    background-color: #e7e7e7;
}

.gzh {
    background-color: #fff;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: -40px;
    z-index: 999;
    float: left;
    display: none;
    box-shadow: 0px 0px 10px 0 #acacac;
}

@media screen and (max-width: 768px) {
    .gzh {
        top: -190px;
        left: 50%;
        margin-left: -90px;
    }

    .row-box {
        height: 180px;
    }

    .row:after {
        clear: none;
    }
}

@media screen and (min-width: 769px) {
    .row-box {
        height: 200px;
    }
}

#adminBtn a {
    color: #0055ff;
}

#adminBtn a:hover {
    color: #ff0000;
}

.gzh img {
    width: 170px;
    height: 170px;
    margin-top: 5px;
    margin-left: 5px;
}

.floor-ad .item img {
    width: 100%;
    height: 100%;
}

.floor-row .row img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    /* border-style: solid;
    border-width: 1px;
    border-color: #888;  边框*/
}

.floor-row .leib {
    margin-top: 25px;
}

.floor-row .leib h3 {
    display: inline;

}

.floor-row .leib a {
    float: right;
    line-height: 29px;
    font-size: 17px;
    text-decoration: none;
}

.floor-row .kap {
    height: 170px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* box-shadow: 0px 0px 10px 0 #acacac; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.floor-row .kap:hover {
    transform: scale(1.05);
}

.floor-row .kap .title {
    position: relative;
    top: -86px;
    left: 108px;
    width: 64%;
    height: 68px;
}

.floor-row .kap .title h4 {
    /* color: #f7f7f7; */
    font-weight: bold;
}

.floor-row .kap .title .ri {
    font-size: 15px;
    color: #00c;
    margin-bottom: 3px;
}

.floor-row .kap .title .author {
    color: #ff30ffdf;
}

.floor-row .kap .video_icon {
    float: right;
    top: -191px;
    right: -3px;
    position: relative;
}

/* .floor-row .kap .video_icon svg{
    width: 35px;
    height: 35px;
    fill: #fff;
} */
.floor-row .kap .video_icon img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.floor-row .kap .sm {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: -65px;
    font-size: 15px;
    height: 45px;
    overflow: hidden;
}

/* .sm{
    height: 45px;
    overflow: hidden;
} */
.floor-row .kap .sm p {
    height: 45px;
}

.ma_tac {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0px;
    display: none;
}

.tanc_nm {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 320px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#qrcode {
    margin-left: 35px;
    margin-top: 20px;
}

.dibu {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(85, 85, 85, 0.5);
}

.s101 {
    background-color: rgba(92, 176, 238, 0.7);
    background-image: linear-gradient(to bottom right, #5CB0EE, rgba(14, 149, 245));
}

.s102 {
    background-color: #3CB371;
    background-image: linear-gradient(to bottom right, rgb(147, 184, 165), #3CB371);
}

.s103 {
    background-color: #8B6508;
    background-image: linear-gradient(to bottom right, #c8cbee, #8B6508);
}

.s104 {
    background-color: #B23AEE;
    background-image: linear-gradient(to bottom right, rgb(203, 127, 241), #B23AEE);
}

.s105 {
    background-color: #CDAD00;
    background-image: linear-gradient(to bottom right, rgb(245, 230, 143), #CDAD00);
}

.s106 {
    background-color: #7CCD7C;
    background-image: linear-gradient(to bottom right, rgb(211, 247, 211), #7CCD7C);
}

.s107 {
    background-color: #6495ED;
    background-image: linear-gradient(to bottom right, rgb(149, 176, 226), #6495ED);
}

.s108 {
    background-color: #59AB98;
    background-image: linear-gradient(to bottom right, rgb(217, 247, 240), #59AB98);
}

.s109 {
    background-color: #FEE140;
    background-image: linear-gradient(315deg, #FEE140 0%, #FA709A 100%);
}

.s110 {
    background-color: #cc33cc;
    background-image: linear-gradient(to bottom right, #cc99cc, #cc33cc);
}

.s111 {
    background-color: #33ffcc;
    background-image: linear-gradient(to bottom right, #3388cc, #33ffcc);
}

.s112 {
    background-color: #C4C4C4;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #C4C4C4);
}

.s113 {
    background-color: #8EC5FC;
    background-image: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
}

.s114 {
    background-color: #FBAB7E;
    background-image: linear-gradient(135deg, #FBAB7E 0%, #F7CE68 100%);
}

.s115 {
    background-color: #85FFBD;
    background-image: linear-gradient(135deg, #85FFBD 0%, #FFFB7D 100%);
}

.s116 {
    background-color: #D9AFD9;
    background-image: linear-gradient(315deg, #D9AFD9 0%, #97D9E1 100%);
}

.s117 {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%);
}

.s118 {
    background-color: #FAACA8;
    background-image: linear-gradient(135deg, #FAACA8 0%, #DDD6F3 100%);
}

.s119 {
    background-color: #F4D03F;
    background-image: linear-gradient(135deg, #F4D03F 0%, #16A085 100%);
}

.s120 {
    background-color: #FAD961;
    background-image: linear-gradient(135deg, #FAD961 0%, #F76B1C 100%);
}

.s121 {
    background-color: #74EBD5;
    background-image: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
}

.s122 {
    background-color: #A9C9FF;
    background-image: linear-gradient(135deg, #A9C9FF 0%, #FFBBEC 100%);
}

.hongbao {
    transition: transform 0.5s ease;
}

.hongbao :hover {
    transform: scale(1.05);
}


/* =========== 提醒弹窗 css ===========*/
/* popup.css */

/* 遮罩层样式 */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* 弹窗样式 */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

/* 弹窗标题样式 */
#popup h2 {
    text-align: center;
    margin: 0;
}

/* 弹窗内容样式 */
#popup-content {
    margin-top: 10px;
}

/* 分割线样式 */
.separator {
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* 链接样式 */
.ok-button {
    display: inline-block; 
    /* padding: 10px 20px;  */
    color: #007bff; 
    text-decoration: none; 
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

/* 链接悬停效果 */
.ok-button:hover {
    color: #0056b3; /* 悬停时稍微变暗 */
    text-decoration: none;
}

/* 按钮容器样式 */
.button-container {
    text-align: center; /* 水平居中 */
}



/* =========== 提醒弹窗 css ===========*/