/*header*/
.index-header {
	border:none;
	background:#ffffff;
	border-bottom:solid #f8f8f8;
}
/*panel*/
.index-panel{
    border-radius: 0px;
}
/*index-btn*/
.index-btn{
    border-radius: 0px;
	background:bottom;
	margin:0px 0px 10px 0px;
}
/*am-btn*/
.am-btn{
	border-radius: 0px;
}
/*footer*/
.index-footer {
	border:none;
	background:bottom;
}
.index-totop {
	position:fixed;
	display:none;
	z-index:1000;
	right:2rem;
	bottom:2rem;
}
.index-totop:hover {
	-webkit-transform:rotate(-45deg) scale(1.2);
	transform:rotate(-45deg) scale(1.2);
	-webkit-transition:10ms;
	transition:10ms;
}
