@charset "utf-8";
/* CSS Document */

.animated{opacity: 1;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
	@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
	@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
	.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
	html,body{font: 12px "PingFang HK","Microsoft YaHei","Arial";background:#fffFFF;}
	*{margin:0; padding:0;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
	ol, ul { list-style: none; }
	img{max-width: 100%; height: auto;}
	
	/* @media screen and (max-width: 750px) {
	#max_box{width:100%; height:100%;}
	}
	@media screen and (min-width: 750px) {
	#max_box{width:640px; height:100%; }
	} */
	#max_box{margin:0 auto;background-color:#2eb8b4;box-shadow: 0px 0px 15px #ccc; display:block;}

	.logo {text-align: center; padding-top:20px; margin:0 auto; position:relative;}
	@media screen and (max-width: 750px) {
	.logo{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.logo{ width:80%;}
	}
	.logo img {width: 45%;}
	.logo span{ display:block; position:absolute; width:70px; height:; line-height:; padding:2px 0px; border:1px solid #93f2f1;color:#93f2f1; border-radius: 20px; top:20px; font-size:12px; z-index:10000;}
	.wenzi {text-align: center;margin-top: 15px; }
	.wenzi img {width: 20%;}
	.body_box{ margin:20px auto; text-align:center}
	@media screen and (max-width: 750px) {
	.body_box{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.body_box{ width:80%;}
	}
	.body_box table {font-size: 30px;width:100%;}
	.body_box table td {padding: 5px 5px; width:50%;}
	.body_box table a {display: block;width:100%;height: 40px;line-height:40px; color: #ffffff; text-align: center;text-decoration: none;border-radius: 10px; font-size:16px; border-top:1px solid #96f3f2;
	border-bottom:1px solid #178280;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41dcd9), to(#27b9b5));
	background: -webkit-linear-gradient(top, #41dcd9, #27b9b5);
	background: -moz-linear-gradient(top, #41dcd9, #27b9b5);
	background: -ms-linear-gradient(top, #41dcd9, #27b9b5);
	background: -o-linear-gradient(top, #41dcd9, #27b9b5);
	box-shadow: 0 0 2px #666;
	}
	.body_hao table {font-size: 30px;width:100%;}
	.body_hao table td {padding: 5px 5px; width:50%;}
	.body_hao table a {
    display: block;
    width: 91%;
    height: 40px;
    line-height: 40px;
    color: #1b00fb;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    border-top: 1px solid #00fff8;
    border-bottom: 1px solid #00fffa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02fffa), to(#00fff8));
    background: -webkit-linear-gradient(top, #41dcd9, #2bada9);
    background: -moz-linear-gradient(top, #41dcd9, #27b9b5);
    background: -ms-linear-gradient(top, #41dcd9, #27b9b5);
    background: -o-linear-gradient(top, #41dcd9, #27b9b5);
    box-shadow: 0 0 2px #00fff8;
}
	.body_box table a.a_go{height: 60px;line-height:60px;}
	.body_box table a:hover{
	background: #55e5e3; /* fallback colour */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55e5e3), to(#35cac7));
	background: -webkit-linear-gradient(top, #55e5e3, #35cac7);
	background: -moz-linear-gradient(top, #55e5e3, #35cac7);
	background: -ms-linear-gradient(top, #55e5e3, #35cac7);
	background: -o-linear-gradient(top, #55e5e3, #35cac7);
		}
	
	.main_box{ margin:20px auto; color:#fff;}
	@media screen and (max-width: 750px) {
	.main_box{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.main_box{ width:80%;}
	}
	.main_box H3{padding-bottom:10px; color:#ffffff;}
	.pbox_top{ background-color:#fff; margin:0 auto;}
	.pbox_top td{ width:50%;}
	.pbox_top a{ width:100%;display:block; color:#333; text-decoration:none; height:35px; line-height:35px; text-align:center;background-color:#e0e0e0;}
	.pbox_top a.xz{ background:#2eb8b4  url(/skin/images/ico_bg.png) bottom center no-repeat; color:#fff;}
	
	.pbox{height:100%; min-height:200px; padding:20PX; background-color:#ffffff; border:1px solid #ffffff;text-decoration: none;border-radius: 10px; font-size:13px; color:#666666; line-height:1.5; text-align:left;}
	.pbox strong{ color:#F00;}
	.pbox s{ color:#2eb8b4;}
	.pbox p a{color:#2eb8b4;}
	.pbox p{ margin-bottom:20px;}
	.pbox img{box-shadow: 0px 0px 0px #bbbbbb; margin:2px auto 2px auto; width:30%; display:block; border-radius: 12px;}
	.pbox hr{width:100%; height:1px; margin:15px auto; border:none; border-top:dashed 1px #666; size:1px; color:#666;}
	
	@media screen and (max-width: 750px) {
	.pbox_bt{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.pbox_bt{ width:80%;}
	}
	.pbox_bt{ margin:30px auto 20px auto; padding:10px 5px; border:1px #666 dashed; font-size:16px; font-weight:bold;}
	.footer_tb table a {height: 30px;line-height:25px; font-size:14px;}
	.footer{ text-align:center; color:#fff; font-size:14px;  margin:20px auto; line-height:1.5;}
	.footer a{ color:#fff; text-decoration:none;}
	.footer span{ display:inline-block; padding:2px 15px; margin-bottom:5px; border:1px solid #fff; border-radius: 20px; top:20px; font-size:12px; z-index:10000; }
	@media screen and (max-width: 750px) {
	.footer{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.footer{ width:80%;}
	}
	
/*==========首页图片动态===========*/
	
	@media screen and (max-width: 750px) {
	.ad_box{ width:90%;}
	}
	@media screen and (min-width: 750px) {
	.ad_box{ width:80%;}
	}
	.ad_box{ margin:20px auto; }
	.ad_box table {font-size: 30px;width:100%;}
	.ad_box table td {padding:5px 5px; width:50%; text-align:center; position:relative}
	.ad_box table td span{position:absolute; top:8%; left:5%; width:; padding:2px 8px;  border-radius:10px; background-color:#2eb8b4; z-index:100; color:#fff; font-size:10px;}
	.ad_box table td a {display: block; width:100%; height:100%; text-align: center; text-decoration: none; font-size:0px;}
	.ad_box table td p a{font-size:14px; color:#fff;}
	.ad_box table td a img{border-radius:10px;box-shadow: 0 0 5px #666; }
	@media screen and (max-width: 750px) {
	
	}
	@media screen and (min-width: 750px) {
	.ad_box table a:hover img{border-radius:20px; box-shadow: 0 0 10px #666; }
	}


	/*==========常见问题 手风琴折叠栏目===========*/
	
	.wenti_top{padding:5px 0; background-color:#2eb8b4; }
	.wenti_top table p{font-size:16px; color:#fff;}
	.wenti_top table p a{color:#fff; text-decoration:none;}
	.wenti_bt{ width:95%;color:#666; font-size:15px; font-weight:bold; margin:10px auto;}
	
	ul.wenti_box {
	list-style:none;
	margin:0; 
	padding:0;
	margin:0 auto;
	width:95%;
	}
ul.wenti_box{
	border-bottom:1px solid #ccc;
	}
ul.wenti_box li label {
	background: #f5f5f5; 
	border:solid #ccc;
	border-width:1px 1px 0px 1px;
	color: #666;
	display:block;
	padding:12px 15px 12px 15px;
	font-size:15px;
}
ul.wenti_box li input[type='checkbox'] {
	display: none;
}

ul.wenti_box li label:hover {
	background: #f0f0f0; 
}

ul.wenti_box li input[type='checkbox']:checked ~ label {
	background:#e8e7e7; 
	color:#333;
}
ul.wenti_box li input[type='checkbox']:checked ~ label span {
}
ul.wenti_box li input[type='checkbox']:checked ~ .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:400px;
}
ul.wenti_box ul {
	background:#fff;
	margin:0; 
	padding:0;
	color:#666;
	font-size:13px;
}
ul.wenti_box ul strong{ color:#F00;}
ul.wenti_box ul li {
	border:solid #ccc;
	border-width:1px 1px 0px 1px;
	}
ul.wenti_box ul li:first-child {
	padding:0px;
	line-height:1.8;
}
.options {
	height:0;
	display: block;
	overflow: hidden;
}

	/*==========扫雷节专题 2 ===========*/
	@media screen and (max-width: 750px) {
	#max_slj{width:100%; height:100%; padding:2.5%;}
	}
	@media screen and (min-width: 750px) {
	#max_slj{width:630px; height:100%; padding:15px;}
	}
	#max_slj{margin:0 auto;background:url(box/slj/bg.jpg) top #203f84; box-shadow: 0px 0px 15px #ccc; }
	#max_slj2{  background:#f7eddb; border:#932322 solid 5px;padding:10px;}
	@media screen and (max-width: 750px) {
	#max_slj3{padding:20px 20px;}
	}
	@media screen and (min-width: 750px) {
	#max_slj3{padding:20px 50px;}
	}
	#max_slj3{ background:#f7eddb; border:#932322 solid 1px; }
	
	@media screen and (max-width: 750px) {
	.slj_logo{font-size:12px;}
	.logo_ico{ width:40%;}
	}
	@media screen and (min-width: 750px) {
	.slj_logo{font-size:15px;}
	.logo_ico{ width:50%;}
	}
	.slj_logo{color:#203f84; }
	.slj_logo p{line-height:1.5;}
	.logo_img{width:90%; display:block; margin:0 auto;}
	
	.slj_box1{ background:url(box/slj/top.jpg)  no-repeat top center; background-size:100%;}
	.slj_box1_yg{ background:url(box/slj/top2.jpg)  no-repeat top center; background-size:100%;}
	
	.slj_box2{text-align:center;color:#c2191f; line-height:1.6; font-size:14px;}
	.slj_box2 h4{font-size:25px;}
	.slj_box2 strong{color:#203f84;}
	
	.slj_box3{text-align:center; color:#203f84;}
	
	@media screen and (max-width: 750px) {
	.slj_box3 h2{font-size:16px; }
	.slj_box3 p{ width:100%; font-size:12px;}
	}
	@media screen and (min-width: 750px) {
	.slj_box3 h2{font-size:22px; }
	.slj_box3 p{ width:90%; font-size:14px;}
	}
	.slj_box3 h2{background: center center no-repeat url(box/slj/ico_bt.jpg) ; color:#ffffff;  line-height:80px; background-size:100%; margin:10px 0;}
	.slj_box3 strong{color:#c2191f;}
	.slj_box3 p{margin:0 auto; line-height:1.5;}
	.slj_box3 hr{width:85%; height:1px; margin:10px auto; border:none; border-top:dashed 1px #203f84; size:1px; color:#203f84; }
	@media screen and (max-width: 750px) {
	.slj_box3 table{width:95%; }
	}
	@media screen and (min-width: 750px) {
	.slj_box3 table{width:90%; border:none;}
	}
	.slj_box3 table{  text-align:center; margin:20px auto; background-color:#203f84; font-size:12px;}
	.slj_box3 table td{ background-color:#f7eddb; border:none;}
	.slj_box3 table td p{margin:8px 0;}
	.slj_box3 table b{ font-size:14px; margin:10px 0; display:block;}
	
	@media screen and (max-width: 750px) {
	.slj_box3 table a{width:80px;}
	}
	@media screen and (min-width: 750px) {
	.slj_box3 table a{width:100px; }
	}
	.slj_box3 table a{  height:40px; line-height:40px; display:block; background-color:#c2191f; color:#fff; font-size:13x; text-align:center;border-radius: 7px;}
	.slj_box3 a{text-decoration: none; color:#c2191f;}
	
	
	/*==========扫雷节倒计时===========*/
	#countdown,#countdown2{
		width:100%;
		text-align: center;
		padding: 14px 0;
		margin:10px auto;
		position:relative;
	}
	
	#countdown #tiles,#countdown2 #tiles2{
		position: relative;
		z-index: 1;
	}
	@media screen and (max-width: 750px) {
	#countdown #tiles > span,#tiles2 > span{ font: bold 32px  'Droid Sans', Arial, sans-serif;}
	}
	@media screen and (min-width: 750px) {
	#countdown #tiles > span,#tiles2 > span{ font: bold 38px 'Droid Sans', Arial, sans-serif;}
	}
	#countdown #tiles > span,#tiles2 > span{
		width: 18%;
		max-width: 20%;
		text-align: center;
		color: #222;
		background-color: #ddd;
		background-image: -webkit-linear-gradient(top, #bbb, #eee); 
		background-image:    -moz-linear-gradient(top, #bbb, #eee);
		background-image:     -ms-linear-gradient(top, #bbb, #eee);
		background-image:      -o-linear-gradient(top, #bbb, #eee);
		border-top: 1px solid #fff;
		border-radius: 3px;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
		margin: 0 5px;
		padding: 15px 0;
		display: inline-block;
		position: relative;
	}
	
	
	#countdown #tiles > span:after,#tiles2 > span:after{
		content:"";
		width: 100%;
		height: 1px;
		background: #eee;
		border-top: 1px solid #333;
		display: block;
		position: absolute;
		top: 48%; left: 0;
	}
	
	.labels{
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 18px;
		z-index:1000;
	}
	
	.labels li{
		width: 17%;
		font: bold 12px 'Droid Sans', Arial, sans-serif;
		color: #666;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 5px;
		padding:0;
	}


	/* ===============分页内容样式======= */

	.nav{
		width: 100%;
		height:120px;
		background-color:rgba(0,97,255,1.00);
		position:fixed;
		display:table;
		padding:0px;
		  margin-top:-120px;
		z-index:1;
		}
		
	.menu{
		/* float:left; */
		/* display:block; */
		display:table-cell;
		height:0px;
		margin:0px;
		}
		
	.list{
		color:rgba(255,255,255,1.00);
		list-style:none;
		width: 11%;
		text-align:center;
		line-height:120px;
		font-size:47px;
		padding:0px;
		float:left;
		margin-left:26px;
		margin-right:26px;
		}
		
	.list_a{
		text-decoration:none;
		color:rgba(255,255,255,1.00);
		}
		
	#select{
		color:#ffe011;
		border-bottom:solid 10px  #ffe011 ;
		margin-bottom:10px;
		}
		
	/* .bg{
		z-index:-1;
		display:block;
		position:fixed;
		margin-top:-190px;
		} */
	
	.top{
		display:block;
		margin-top:120px;
		background-color:#2eb8b4;
	}
	
	.tip{
		display:block;
		margin-top:20px;
		margin-left:40px;
		margin-right:40px;
		background-color:#ffffff;
		height:100px;
		line-height:100px;
		text-align:center;
		border-radius:30px;
		color:rgba(252,76,79,1.00);
		font-size:47px;
		box-shadow:0px 5px 20px 1px rgba(0,0,0,0.20);
		}

	.gongg {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #cccccc;
    /* height: 220px; */
    line-height: 100px;
    text-align: center;
    border-radius: 30px;
    color: rgba(255,0,255,1.00);
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    }	
		
	.al{
		height:330px;
		display:block;
		margin-top:30px;
		list-style:none;
		background:#ffffff;
		border-radius:10px;
		padding-bottom:0px;
		margin-left:10px;
		margin-right:10px;
		  box-shadow:0px 5px 20px 1px rgba(0,0,0,0.20);
		}
				
	.icon{
		width:260px;
		height:260px;
		margin-right:20px;
		display:block;
		margin-top:35px;
		margin-left:15px;
		background-position:center;
		background-repeat:no-repeat;
		float:left;
	}
	
	.icon img{
		height:100%;
		width:100%;
		border-radius:25px
	}
		
	.box{
		height:auto;
		display:block;
		padding-left:170px;
		}
		
	.name{
		font-size:48px;
		color:#000000;
		margin-left:50px;
		padding-top:30px;
		position:relative;
		display:block;
		font-weight:bold;
		margin-right:10px;
		}
	
	
		
	.about{
		font-size:38px;
		color:#666666;
		margin-left:0px;
		display:block;
		margin-top:0px;
		margin-bottom:10px;
		margin-right:0px;
		}
	
	.about1{
		font-size:42px;
		color:#0000ff
		}
	

		.btn{
			color:#FFFFff;
			background-color:rgba(25,25,25,0.6);
			display:block;
			width:200px;
			height:80px;
			text-align:center;
			line-height:80px;
			border-radius:100px;
			font-size:40px;
			text-decoration:none;
			margin-top:0px;
			margin-left:auto;
			margin-right:20px;
			border:1px solid #FFFFFF;
			font-weight:bold;
			}


	.bottom{
		width:100%;
		display:block;
		text-align:center;
		background:rgba(0,97,255,0.80);
		height:120px;
		margin-top:68px;
		color:#FFFFFF;
		line-height:120px;
		font-size:50px;
		}
	
	.xl_text{
		text-align:center;
		display:block;
		font-size:105px;
		margin-top:50px;
		}
	
	.code{
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:110px;}
		
	.border{
		width:490px;
		height:490px;
		border:rgba(0,0,0,1.00) solid 1px;
		margin-left:auto;
		margin-right:auto;
		margin-top:-450px;}
		
	.code_num{
		display:block;
		position:absolute;
		background:rgba(79,0,255,1.00);
		margin-top:520px;
		color:rgba(255,255,255,1.00);
		width:380px;
		height:70px;
		text-align:center;
		line-height:70px;
		margin-left:53px;
		font-size:38px;
		border-radius:100px;
		}
		
	.AD_text{
		text-align:center;
		display:block;
		font-size:48px;
		margin-top:50px;
		}
	
	.jiek{
		height:720px;
		display:block;
		margin-top:50px;
		list-style:none;
		background:#ffffFf;
		border-radius:20px;
		padding-bottom:20px;
		margin-left:20px;
		margin-right:20px;
		box-shadow:0px 5px 20px 1px rgba(0,0,0,0.20);
		}
	
	
	.wzh{
		  font-size:58px;
		   color:#fff2f2;
		  text-align:center;
		}
	
	.jied{
		height:1250px;
		margin-top:50px;
		background:#ffffFf;
		border-radius:20px;
		padding-bottom:20px;
		margin-left:20px;
		margin-right:20px;
		box-shadow:0px 5px 20px 1px rgba(0,0,0,0.20);
		}
	
	.jiewzd{
		height:1250px;
		margin-left:30px;
		margin-right:30px;
	}